@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Next:ital,wght@0,200..800;1,200..800&family=Poetsen+One&display=swap');
body
{
    width: 100%;
    height: auto !important; 
    min-height: 100vh;
    border: 0;
    margin: 0;
    display: flex;
    flex-flow: column nowrap;

    align-items: center;
    justify-content: center;
    align-content: center;

    background-image: url(images/flowers\ wide.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom;
    background-size: cover;



}



h1, h2
{
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

p
{
    font-family: "Atkinson Hyperlegible Next", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
}

#mainContainer
{
    width: 50vw;
    height: auto;
    padding: 64px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}
    


.firstContainer
{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100vh;

}

.newContainer
{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: flex-start;

    width: 100%;
    height: 50vh;

}

.containerInner
{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    justify-content: space-between;


    width: 50vw;
    height: 30vh;

}

.containerText
{
    display: flex;
    flex-flow: column nowrap;
    padding-right: 16px;
}

footer
{
    text-align: center;
}

@media screen and (max-width: 1200px) {
  
  
  body{
    background-image: url(images/flowers\ close.png);
    background-color: #f1f1f1;
    background-size: contain;
    background-position: bottom;
  }
  
    #mainContainer, .newContainer, .firstContainer, .containerInner, .containerText, .containerImage {
    display: block;
    height: auto;
    padding: 0;

  }

  #mainContainer
  {
    background-color: #f4f4f4;
    width: 90%;
    padding: 12px;

  }
  .containerInner
  {
    width: 100%;
  }
  .containerText
  {
    width: 100%;
  }

  .firstContainer
  {
    text-align: center;
  }

  .newContainer
  {
    padding-top: 16px;
    padding-bottom: 16px;

    border-top: solid black;
  }

  #consult
  {
    margin-bottom: 0 !important;
  }

  #consultInner
  {
    height: auto !important;
  }

}
