@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');                                       /* Headings */
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&family=Rubik&display=swap');        /* Body */
@import url('https://fonts.googleapis.com/icon?family=Material+Icons+Two+Tone');                                /* Icons */

body, html
{
    display: flex;
    flex-flow: row wrap;
    margin: 0;
    
    width: 100%;
    height: 100%;
    justify-content: flex-start;
    align-items: center;
    align-content:flex-start;
    text-align: left;

    font-family: "Atkinson Hyperlegible", serif;
    font-weight: 400;
    font-style: normal;

    background-color: #0E0E23;
    color: #DFF3E4;

}

h1, h2
{
    font-family: "Jua", serif;
    font-weight: 400;
    font-style: normal;
   
}


a
{
    color: #DFF3E4;
}

p
{
    padding: 16px;
}

li
{
    display:flex;
}

i
{
    width: 100%;
}

footer
{
    bottom: 0;
    display: block;    
    width: 100%;
    text-align: center;
}

footer > p

{
    padding: 0;
    margin-top: 16px;
}


#templateNavButtons
{
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    justify-content: center;    
    align-content: center;
    align-items: center;
    display: flex;

    width: 100%;
}

#templateNavButtons > ul
{
    padding-left: 16px;
}






/*------------------------------------------------------------------------------------------------------*/


#templateTop                            {       background-color: #62139F ; color: #FDFDF5;     }
#templateLeft, #templateLeftHalf        {       background-color: #FDFDF5; color: #0E0E23;      }
#templateRight, #templateRightHalf      {       background-color: #4b0516; color: #FDFDF5;      }
/*
    ADDITIONAL COLOURS
    background-color: #FF9F1C; color: #DFF3E4;  
     
*/

#templateLeft, #templateRight, #templateTop
{
    width: 100%;
    height: 75vh;

    background-image: url(/images/index/background.jpg);
    background-blend-mode:overlay;
    display: flex;    
    justify-content: center;
    align-items: center;
    align-content: center;



}

#templateLeftHalf, #templateRightHalf
{
    width: 100%;
    height: 50vh;

    background-image: url(/images/index/background.jpg);
    background-blend-mode:overlay;
    display: flex;    
    justify-content: center;
    align-items: center;
    align-content: center;



}




#templateTop
{
    width: 100%;
    height: 25vh;

    display: flex;    
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;

}

#templateTopTitle
{
    font-size: 15vh;
    padding: 16px;
    margin: 0;

}



/*------------------------------------------------------------------------------------------------------*/


#sectionContentLeft, #sectionContentRight
{
    height: 75vh;
    width: 70%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-end;
    align-content: center;
}

#sectionContentLeft {    text-align: left; padding-left: 16px;  }
#sectionContentRight{    text-align: right; padding-right: 16px;  }

#sectionImageContainer
{
    height: auto;
    width: 30%;
    display: flex;
    
    margin: 16px;

    justify-content: center;
    align-items: flex-end;
    align-content: center;
    border: solid #0E0E23;
    
}

#templateLeftHalf > #sectionImageContainer, #templateRightHalf > #sectionImageContainer
{
    height: auto;
    width: 15%;
    display: flex;
    
    margin: 16px;

    justify-content: center;
    align-items: flex-end;
    align-content: center;
    border: solid #0E0E23;
    
}

/*------------------------------------------------------------------------------------------------------*/

#sectionTitleLeft, #sectionTitleRight
{
    width: 100%;
    margin: 0;
    font-size: 10vh;
    
}


#sectionHeroSubtitle
{
    margin: 0;
    font-size: 10vh;
    padding: 16px;
}

#sectionTitleLeft{      text-align: left;  }
#sectionTitleRight{     text-align: right;  }

#sectionTextLeft, #sectionTextRight{    font-size: 2.8vh; width: 99%; padding: 8px; }
#sectionTextLeft{       text-align: left; }
#sectionTextRight{      text-align: right; }

#sectionTextEmphasis{font-weight: bold; display:block; border: solid #DFF3E4; padding: 8px; width: 60%;}
#sectionTextEmphasisDark{font-weight: bold; display:block; border: solid #0E0E23; padding: 8px; }
#sectionTextEmphasisDark > a{color: #0E0E23; }

#sectionTextButtonContainer{width: 100%;}
#sectionTextButton{text-align: center; background-color: #0E0E23; padding: 16px;}

#sectionSubtitle { margin: 0; font-size: 10vh; padding: 16px; }


#sectionActualImage
{
    width: 100%;
    height: 100%;
}
#sectionActualImageMobile
{
    display: none;
}

#sectionLeftGrid
{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    min-width: 0;
    height: 100%;
    margin: auto;
    overflow: auto;
    padding: 32px;
    align-items: flex-start;
}

#sectionLeftGrid > li
{
    width: 30vh;
    align-content: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}





@media only screen and (max-width: 1400px) {
    body, html {flex-flow: column nowrap; height: 200vh; }
   
    #hero, #about, #research, #music, #projects, #contact{ 
        height: 100%;
        width: 100%;
        flex-flow: column nowrap;
        text-align: center; 
        padding: 0;   
        justify-content: flex-start;
        align-items: center;
        align-content: center;
        
    }

    #sectionContent
    { 
        height: 100%; 
        width: 100%;  
        flex-flow: column nowrap;
    }
    #sectionImageContainer
    {
        display: none;
    }
    #sectionActualImageMobile
    {
        display: block;
        width: 40%;
        margin: auto;
}

    #sectionContentLeft, #sectionContentRight
    {
        height: 100%;
        width: 100%;
        text-align: center;
        padding: 8px;
    }

    #sectionLeftGrid
    {
        width: 100%;
        justify-content: center;
    }

    #sectionTitleLeft{font-size: 10vh; width: 100%; text-align: center}
    #sectionTitleRight{font-size: 10vh; width: 100%; text-align: center}
    #sectionHeroTitle{font-size: 10vh; width: 100%; text-align: center;}
    #sectionHeroSubtitle{text-align: center;}
}