
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

@import url('https://fonts.googleapis.com/icon?family=Material+Icons+Two+Tone');
/******************************************************** Global *********************************************************/


body, html
{
  
    width: 100%;
    height: 100%;

    font-family: Poppins, sans-serif !important;


    background-color: #E6E8E6;
    color: #262322;
    margin: 0;

    overflow-x: hidden;


}



h1, h2, h3, h4, h5, h6
{
  color: #E6E8E6;
  padding: 16px;
  font-family: Poppins, sans-serif !important;
  background-color: #C45BAA;
  /* alt dark colour #0D1F2D */
  

 
}

h1
{
  font-size: 64px;
  
}

h2
{
  font-size: 52px;


}

h3
{
  font-size: 36px;

} 

h4
{
  font-size: 24px;

} 

h5
{
  font-size: 20px;

} 

h6
{
  font-size: 18px;

} 

p
{

  font-size: 16px;
  
  border-left: solid;
  
  width: 100%;

  text-align: center;
}

i
{
  padding: 16px;
}

a
{
  text-decoration: none;
}

a:hover
{
  text-decoration: underline;
}

img
{
  width: 70%;
  padding: 2px;
  margin:auto;
  background-color: #262322;

}

@media only screen and (max-width: 600px) { img{width: 100%;} }


figcaption
{
  width: 100%;
  text-align: center;
  margin: auto;
  padding: 16px;
  color: black;
  font-size: calc(16px + 0.2vw);
    
  background-color: #E6E8E6;

}

table
{
  width: 100%;
  margin: auto;    
  border-collapse: collapse;
  overflow-x: scroll;
  
}

@media only screen and (max-width: 600px) 
{ 
  table
  {  
    display: block;
  } 
}



td, th {
  text-align: left;
  padding: 8px;
}
th
{
  background-color: #C45BAA;
  color: #E6E8E6;
}
th:hover
{
  text-decoration: underline;
}

tr:nth-child(even) {
  background-color: #dddddd;
}





/************************************************************* CUSTOM CLASSES - GENERAL */
.navIcons 
{
  position: relative;
  width: 100%;
  text-align: center;
  border-bottom: solid;
  padding: 8px;
}

.navIconsMobile
{
  display: none;
  position: relative;
  width: 100%;
  top:15%;
  text-align: center;
  display: none;

}

@media only screen and (max-width: 600px) {
.navIconsMobile
  {
    display: block;

  }

  .navHeaderMobile
  {
    display: block;
  }

  .navIcons
  {
    display: none;
  }

  .navHeader
  {
    display: none;
  }
}


/* The Overlay (background) */

.navButton
{
  display: none;
}

.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */   
  height: 100%;
  width: 0;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
  border-right: solid;
  visibility: hidden;


}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top:5%; /* 25% from the top */
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
  margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
  visibility: hidden;
  height: 100%;


}

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  right: 0px;
  top: 2%;
  font-size: 60px;
}



@media only screen and (max-width: 600px) 
{

  .overlay .closebtn 
  {
    display: block;
    visibility: visible;
    background-color: #E6E8E6;


  }

  .overlay-content
  {
    visibility: visible;
    background-color: #E6E8E6;


  }

  .navButton
  {
    display: inline;
    position:sticky;
    top: 0;
    background-color: #E6E8E6;
    border-right: solid;
    border-bottom: solid;



  }

}

/************************************** CUSTOM CLASSES - INDEX */
.indexIcons 
{
  position: relative;
  width: 100%;
  top: 35%;
  text-align: center;

}

.indexHeader
{
  position: relative;
  width: 100%;
  top: 35%;
  text-align: center;

}

.indexIconsMobile
{
  display: none;
  position: relative;
  width: 100%;
  top:10%;
  text-align: center;
  display: none;

}

.indexHeaderMobile
{
  position: relative;
  top: 15%;
  width: 100%;
  display: none;
  text-align: center;

}

@media only screen and (max-width: 600px) {
.indexIconsMobile
  {
    display: block;

  }

  .indexHeaderMobile
  {
    display: block;
  }

  .indexIcons
  {
    display: none;
  }

  .indexHeader
  {
    display: none;
  }


}


/************************************** CUSTOM CLASSES - ABOUT */
.aboutMain
{
  width: 80%;
  margin: auto;
  text-align: center; 

}

.aboutMain p
{
  font-size: 20px;
 padding: 16px;
}

/************************************** CUSTOM CLASSES - MUSIC */


.sectionCollapsible 
{
  background-color: #C45BAA;
  color: #E6E8E6;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: solid;
  text-align: left;
  font-size: 24px;  
  
}

.sectionCollapsible:hover 
{
  opacity:85%;

}
 
.sectionContent 
{
  padding: 0 18px;
  display: none;
  overflow: hidden;
  
}

.active
{
  background-color: black !important;
  opacity: 80%;
}

.scrollButton
{
  margin: 32px; background-color: #C45BAA; color: #E6E8E6; border: none;
  cursor: pointer;
  font-size: 16px;
  padding: 16px;
  opacity: 70%;
  border: solid;}

.scrollButton:hover
{
  background-color: #CE78B9;
  opacity: 100%;
}




/*Icon styling*/


.material-icons-two-tone.md-dropdown { font-size: 32px;}
.material-icons-two-tone.md-dropdown:hover { background-color: inherit;}



.material-icons-two-tone.md-nav { font-size: 3vw; }

.material-icons-two-tone.md-13 { font-size: 13vw; }
.material-icons-two-tone.md-mobile { font-size: 20vw; }



.material-icons-two-tone:hover
{

  background-color: #cbcccb;
}

.grow 
{ 
  transition: all .2s ease-in-out; 
}
  
.grow:hover 
{ 
  transform: scale(1.1); 
}







